@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  color: aliceblue;
  font-size: xxx-large;
}
.image {
  display: inline-block;
  width: 60vw;
}
.nav {
  display: inline-block;
  width: 30vw;
  height: 50vh;
}
.nav > ul > li {
  float: left;
  width: 100%;
  height: 50px;
}
p {
  align-items: center;
  margin: 1em;
  width: 90vw;
}
h2 {
  background-color: #8e4d96;
  font-size: larger;
  color: aliceblue;
  height: 2em;
  vertical-align: middle;
  font-weight: 800px;
}
h3 {
  color: #7d4183;
  font-weight: bold;
  font-size: 16;
  margin: 10px auto;
}

div > ul {
  display: inline-block;
  width: 20vw;
}
