.button {
  font: inherit;
  border: 1px solid rgb(75, 0, 82);
  background: rgb(75, 0, 82);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: rgb(217, 0, 255);
  border-color: rgb(217, 0, 255);
}

.button:focus {
  outline: none;
}
